on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libcurl4-openssl-dev \
            libpng-dev \
            libjpeg-dev \
            pkg-config \
            libfreetype6-dev \
            libharfbuzz-dev \
            libfribidi-dev \
            libfontconfig1-dev
        
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3.1'

      - name: Install required R packages
        run: |
          Rscript -e 'options(repos="https://cloud.r-project.org"); pkgs <- c("readr","dplyr","knitr","ggplot2","ggtext","stringr","forcats"); install.packages(pkgs, dependencies = TRUE)'
              
      - name: Install rmarkdown
        run: | 
          Rscript -e 'install.packages("rmarkdown", repos="https://cloud.r-project.org")'

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
